In [16]:
import pandas as pd
import os
import warnings
import seaborn as sns
from matplotlib import pyplot as plt

# Config
%matplotlib inline
warnings.filterwarnings('ignore')

movies = pd.read_csv("Movie-Ratings.csv")
movies.columns = ["Film", "Genre", "CriticRating", "AudienceRating", "BudgetMillions", "Year"]

# Set column as a Category
movies.Film = movies.Film.astype('category')
movies.Genre = movies.Genre.astype('category')

# Set Year as a Category...
# we don't want Python to treat this as a number when applying mean, max or min analysis
movies.Year = movies.Year.astype('category')

# List all categories within column
movies.Genre.cat.categories

Index(['Action', 'Adventure', 'Comedy', 'Drama', 'Horror', 'Romance',
       'Thriller'],
      dtype='object')

In [17]:
# Create a joint-plot

       CriticRating  AudienceRating  BudgetMillions
count    559.000000      559.000000      559.000000
mean      47.309481       58.744186       50.236136
std       26.413091       16.826887       48.731817
min        0.000000        0.000000        0.000000
25%       25.000000       47.000000       20.000000
50%       46.000000       58.000000       35.000000
75%       70.000000       72.000000       65.000000
max       97.000000       96.000000      300.000000